.contactContainer {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bcab79;
    flex-direction: column;

    .emailContainer {
        // background: white;
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 2vw;
        margin-bottom: 3vh;

        a{
            display:flex;
            justify-content: center;
            align-items: center;
        }

        img {
            max-width: 10%;
            max-height: 100%;
        }
        
    }
}

@media (orientation: portrait) {
    .contactContainer .emailContainer {
        // background: white;
        width: 100vw;
        
        font-size: 3vw;
        

       
        
    }



}