@import 'src/App';
@import 'src/myHeader';

.Home {
    //@include Content;
    //grid-area: content;
    //color: blue;
    background: $mainBackground;
    ////height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'photo homeContent';
    //justify-content: stretch;
    justify-content: stretch;
    justify-items: center;
    align-items: center;
    height: 90vh;
}

.photo {
    //width: 50vw;
    max-height: 40vh;
    max-width: 90%;
    grid-area: photo;
}

.cvPhoto {
    max-width: 50%;
    grid-area: photo;
}

.homeContent {
    //border: 1px solid white;
    grid-area: homeContent;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    justify-items: center;
    flex-direction: column;
    position: relative;
    top: 20%;
    height: 50vh;

    &__photo {
        //border: 1px solid white;

        max-height: 40%;
        max-width: 70%;
    }

    &__CVphoto {
        max-height: 50%;

        position: absolute;
        bottom: 10%;

        //border: 1px solid white;
        max-width: 15%;

        img {
            max-width: 100%;
        }
    }
}

@media (orientation: portrait) {
    .Home {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}
