$headerColor: #253031;

$mainBackground: #292b36;

$atomBack: $mainBackground;
$headerFontColor: #bcab79;
$headerSelectedFontColor: white;
$bluePalette: #2978a0;

$charleston-green: #253031ff;
$dark-slate-gray: #315659ff;
$celadon-blue: #2978a0ff;
$ecru: #bcab79ff;
$beau-blue: #c6e0ffff;
