@import 'colors';
$homeAnimDuration: 500ms;
$headerHeight: 10vh;
.Header {
    color: $headerFontColor;
    display: flex;
    align-items: center;
    grid-area: header;
    height: $headerHeight;
    background: $mainBackground;
    //width: 100vw;
    min-height: 40px;
    position: sticky;
    top: 0;
    justify-items: center;
    z-index: 10000;

    justify-content: flex-end;
    transition: all $homeAnimDuration ease;
    padding-right: 7%;
    //&--Home {
    //    width: 50vw;
    //}

    &__button {
        display: grid;
        transition: all 500ms ease;
        color: $headerFontColor;
        text-decoration: none;
        margin-left: 3%;
        // width: 7%;
        height: 50%;
        text-align: center;
        align-items: center;
        transition: all 2000ms ease-out;
        // border-radius: 15px;

        &:hover {
            transform: scale(1.2, 1.2);
        }

        &--selected {
            
            color: $headerSelectedFontColor;
            border-bottom: 1px solid $headerSelectedFontColor;
            border-top: 1px solid $headerSelectedFontColor;
            &:hover {
                transform: none;
            }
        }
    }
}

@media (orientation: portrait) {
    .Header {
        justify-content: space-around;
        padding-right: 0;

        &__button {
            margin-right: 3%;
            margin-left: 3%;
        }
    }
}
